<div class="ui raised very padded text container segment centered">
  <%= form_for @learner do |f| %>
  <div class="ui form">
    <div class="equal width fields">
        <div class="field">
        <label>Learner Name:</label>
        <%= f.text_field :name, :placeholder => 'Learner First & Last Name' %>
      </div>
      <div class="field">
        <label>Learner Age:</label>
        <%= f.text_field :age, :placeholder => '6' %>
      </div>
      <div class="field">
        <label>Learner Image:</label>
        <%= f.text_field :image, :placeholder => 'Image URL' %>
      </div>
    </div>
    <div class="equal width fields">
      <div class="field">
        <label>Learner Parent/Guardian:</label>
        <%= f.text_field :parent_guardian, :placeholder => 'Parent / Guardian Name' %>
      </div>
      <div class="field">
        <label>Parent/Guardian Contact Information:</label>
        <%= f.text_field :contact_info, :placeholder => '(415) 707-77-77' %>
      </div>
      <div class="field">
        <label>Learner Moderator ID:</label>
        <%= f.text_field :user_id, :placeholder => '1' %>
      </div>
    </div>
    <div class="ui fluid labeled buttons">
      <button class="ui left labeled icon postive button">
        <i class="pointing left icon"></i>
        <%= link_to :back, 'Cancel' %>
      </button>
      <div class="or"></div>
      <button class="ui right labeled icon button">
          <%= f.submit 'Update Learner', :class => 'ui right labeled button' %>
        <i class="hand peace icon"></i>
      </button>
    </div>
  </div>
  <% end %>
</div>
