
  <%= bar_chart @learners.group(:age).count %>

<div class="ui grid container">
<div class="row">
  <div class="four wide column">
    <div class="ui small vertical menu">
      <div class="item">
        <%= image_tag 'egg_logo.png'%>
      </div>
        <a class="item">Features</a>
        <a class="item">Testimonials</a>
        <a class="item">Sign-in</a>
        <a class="item">
          <i class="grid layout icon"></i> Browse
        </a>
        <div class="ui link card">
          <div class="fluid ui content">
            <h2 class="ui centered header">
              <i class="hand peace icon"></i>
            </h2>
            <div class="fluid ui bottom attached button">
              <i class="add icon"></i>
              <a href="<%= new_learner_path %>">Add A Learner</a>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="twelve wide column">
    <% @learners.each do |learner| %>
    <div class="fluid ui large card">
      <div class="ui items">
        <div class="fluid ui item">
          <div class="ui large image">
            <%= image_tag "#{learner.image}" %>
          </div>
        </div>
      <div class="ui fluid middle aligned content">
        <div class="header">
          <%= link_to "#{learner.name}", learner_path(learner)%>
        </div>
        <div class="description">
          <div class="meta">
            <span class="category">Age: 4</span>
            <span class="right floated time"><%= learner.user_id %></span>
          </div>
        </div>
      </div>
      </div>
      Emergency Contact:
      <strong><%= learner.parent_guardian %>: </strong> <%= learner.contact_info %>
        <br>
        Inventory of Favorite Things: <%= learner.inventory_of_favorites %>
      <a href="<%= edit_learner_path(learner) %>" class="fluid ui button">Edit Learner Information</a>
    </div>

    <% end %>
  </div>
</div>
</div>
