<h2 class="ui header">
  <i class="hand peace icon"></i>
  <div class="content">
    <a href="<%= new_learner_path %>" class="button expanded">Add A Learner</a>
  </div>
</h2>

<% @learners.each do |learner| %>

<h1> <%= learner.name %> </h1>
<h2> <%= learner.age %> </h2>
<h3> <%= learner.parent_guardian %> </h3>
<h4> <%= learner.contact_info %> </h4>
<br>
<%= link_to "Show #{learner.name}", learner_path(learner)%>
|
<a href="<%= edit_learner_path(learner) %>" class="button expanded">Edit Learner Information</a>
<%= link_to 'Back', :back %>

<% end %>
