<h1> <%= @learner.name %> </h1>
<h2> <%= @learner.age %> </h2>
<h3> <%= @learner.parent_guardian %> </h3>
<h4> <%= @learner.contact_info %> </h4>
<div class="row">
  <%= image_tag(@learner.image) %>
</div>
