<div class="ui raised very padded text container segment">
  <div class="ui fluid grid">

    <div class="ui six wide column">
      <div class="ui fluid card">
        <h1> <%= @learner.name %> </h1>
        <div class="content">
          <div class="header"><%= @learner.contact_info %></div>
          <div class="meta"><%= @learner.parent_guardian %></div>
          <div class="description">
            <%= @learner.name %>'s Age is '<%= @learner.age %>
          </div>
        </div>
        <%= link_to "Show #{@learner.name}'s Logs", learner_logs_path(@learner), :class => 'fluid ui button' %>
      </div>
    </div>
    <div class="ui ten wide column">
        <%= image_tag(@learner.image) %>

    </div>

    <a href="<%= edit_learner_path(@learner) %>" class="fluid ui button">Edit Learner Information</a>
    <%= link_to 'Back', :back, :class => 'fluid ui button' %>

  </div>

</div>
