<% @logs.each do |log| %>
<div class="ui padded segment">
  <div class="ui top attached button" tabindex="0">
    <%= link_to " #{log.title}", learner_log_path(@learner, log)%>
  </div>

  <div class="ui attached segment">
    <a class="ui ribbon label">
      <i class="gamepad icon"></i>
      Level: <%= log.level %>
    </a>


    <div class="ui block header">
      <i class="settings icon"></i>
        <div class="content">
          <%= log.starting_mood %>
          <div class="sub header">Learners Starting Mood</div>
        </div>
    </div>
    <div class="ui segment">
      <div class="ui top attached label">Comments</div>
      <p>
        <%= log.comments %>
      </p>
    </div>

  </div>
  <div class="ui bottom attached button" tabindex="0">
    <%= link_to "Delete", learner_log_path(@learner, log), method: :delete %>
  </div>

</div>
<% end %>

<div class="ui divided items">
  <div class="item">
    <div class="ui tiny image">
      <div class="ui icon center aligned dividing header">
        <i class="settings icon"></i>
        <div class="content">
        <div class="sub header">Date of Log : <%= log.date %> </div>
        </div>
      </div>
    </div>
    <div class="middle aligned content">
      Content A
    </div>
  </div>
  <div class="item">
    <div class="ui tiny image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="middle aligned content">
      Content B
    </div>
  </div>
  <div class="item">
    <div class="ui tiny image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="middle aligned content">
      Content C
    </div>
  </div>
</div>

<%= link_to 'Back', :back %>
