<div class="ui container">
  <div class="ui segment">
    <a class="ui ribbon label">
      <i class="gamepad icon"></i>
      Level: <%= @log.level %>
    </a>

    Title: <%= @log.title %>
    Date of Log: <%= @log.date %>


    <div class="ui segment">
      <div class="ui dividing header">
        <i class="settings icon"></i>
        <div class="content">
          <%= @log.starting_mood %>
          <div class="sub header">Learner Starting mood </div>
        </div>
      </div>
    </div>

    <div class="ui segment">
      <div class="ui top attached label">1. Can Identify Emotion</div>
      <p>
        <%= @log.verbal_word_approximation %>
        <%= @log.physically_identify %>
      </p>
    </div>
    Good Choices Used: <%= @log.good_choices %>


    <div class="ui segment">
      <div class="ui top attached label">2. Can Make Good Choices</div>
      <p> Good Choices Used: <%= @log.good_choices %></p>
    </div>

    <div class="ui segment">
      <div class="ui top attached label">3. Can Act Out Good Choices</div>
      <p> Assistive Instructions Given: <%= @log.good_choices %></p>
    </div>

    <div class="ui segment">
      <a class="ui ribbon label">Observations:</a>
      <p>
        <%= @log.observations %>
      </p>
    </div>
    <div class="ui segment">
      <a class="ui ribbon label">Comments: </a>
      <p>
        <%= @log.comments %>
      </p>
    </div>

  </div>
  <%= link_to "Delete", learner_log_path, method: :delete %>
  |
  <a href="<%= edit_learner_log_path(@learner, @log) %>" class="button expanded">Edit Log</a> |
  <%= link_to 'Back', :back %>

</div>
