<h1>
  Title: <%= @log.title %>
</h1>
<h5>
  Learner Starting mood: <%= @log.starting_mood %>
</h5>
<h5>
  Level: <%= @log.level %>
</h5>
<h5>
  Can Verbally make word approximation: <%= @log.verbal_word_approximation %>
</h5>
<h5>
  Can Physically Identify or Point to: <%= @log.physically_identify %>
</h5>
<h5>
  Good Choices Used: <%= @log.good_choices %>
</h5>
<h5>
  Action: <%= @log.action %>
</h5>
<h5>
  Observations: <%= @log.observations %>
</h5>
<h5>
  Comments: <%= @log.comments %>
</h5>
<h5>
  Date of Log: <%= @log.date %>
</h5>
<h5>
  Learner ID: <%= @log.learner_id %>
</h5>
<%= link_to "Delete", learner_log_path, method: :delete %>
|
<a href="<%= edit_learner_log_path(@learner, @log) %>" class="button expanded">Edit Log</a> |
<%= link_to 'Back', :back %>


<div class="ui segment">
  <div class="ui top attached label">1. Can Identify Emotion</div>
  <p> <%= @log.verbal_word_approximation %> <%= @log.physically_identify %></p>
</div>
<div class="ui segment">
  <div class="ui top attached label">2. Can Make Good Choices</div>
  <p> Good Choices Used: <%= @log.good_choices %></p>
</div>
<div class="ui segment">
  <div class="ui top attached label">3. Can Act Out Good Choices</div>
  <p> Assistive Instructions Given: <%= @log.good_choices %></p>
</div>


<div class="ui segment">
  <a class="ui ribbon label">Observations</a>
  <div class="ui dividing header">
    <i class="settings icon"></i>
    <div class="content">
      Dividing
      <div class="sub header">Sub-header</div>
    </div>
  </div>
  <p>
    <%= @log.observations %>
  </p>
</div>
