<!DOCTYPE html>
<html>
  <head>
    <title>Egg</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'highcharts.js', 'chartkick' %>
    <div class="ui stackable menu">
      <div>
        <%= link_to '/', :class => 'item' do %>
        <%= image_tag 'egg_drive.png' %>
        <% end %>
      </div>
      <a>
        <% if !current_user %>
        <%= link_to 'Login', '/login', :class => 'item' %>
      </a>
      <a>
        <%= link_to 'Signup', '/signup', :class => 'item' %>
        <% else %>
        <div class="right menu">
          <a>
            <%= link_to "Welcome, #{current_user.name} !", root_path, :class => 'item' %>
          </a>
          <a>
            <%= link_to 'Logout', '/logout', :class => 'item' %>
          </a>
          <a>
            <%= link_to 'Learners', learners_path, :class => 'item' %>
          </a>
          <% end %>
        </div>
      </div>

  </head>

  <body>

    <%= yield %>
  </body>
</html>
